<div data-hook="admin_page_form_fields">
  <%= f.field_container :name do %>
    <%= f.label :title, raw(I18n.t(:title, scope: 'activerecord.attributes.spree/page') + content_tag(:span, ' *', class: 'required')) %>
    <%= f.text_field :title, class: 'fullwidth' %>
    <% unless f.object %>
      <span class="info"><%= Spree.t 'page_name_info' %></span>
    <% end %>
    <%= f.error_message_on :name %>
  <% end %>

  <%= f.field_container :slug do %>
    <%= f.label :slug, raw(I18n.t(:slug, scope: 'activerecord.attributes.spree/page') + content_tag(:span, ' *', class: 'required')) %>
    <%= f.text_field :slug, class: 'fullwidth' %>
    <%= f.error_message_on :slug %>
  <% end if f.object %>

  <%= f.field_container :meta_description do %>
    <%= f.label :meta_description, I18n.t(:meta_description, scope: 'activerecord.attributes.spree/page') %>
    <%= f.text_area :meta_description, class: 'fullwidth' %>
    <%= f.error_message_on :meta_title %>
  <% end %>

  <%= f.field_container :meta_keywords do %>
    <%= f.label :meta_keywords, I18n.t(:meta_keywords, scope: 'activerecord.attributes.spree/page') %>
    <%= f.text_area :meta_keywords, class: 'fullwidth' %>
    <%= f.error_message_on :meta_keywords %>
  <% end %>

  <%= f.field_container :body do %>
    <%= f.label :body, I18n.t(:body, scope: 'activerecord.attributes.spree/page') %>
    <%= f.cktext_area :body %>
    <%= f.error_message_on :body %>
  <% end %>
 </div>