<li class="page">
  <div class="alpha five columns page-slug">
    <%= link_to spree_page_path(page), target: '_blank' do %>
      <%= spree_page_path(page) %><i class="icon-external-link"></i>
    <% end %>
  </div>
  <h3 class="seven columns page-title">
    <%= link_to edit_admin_page_path(page.id), title: Spree.t('edit_page') do %>
      <%= page.title %><i class="icon-edit"></i>
    <% end %>

    <%= link_to admin_page_path(page.id), method: :delete, title: Spree.t('remove_page'), class: 'remove-page-link', data: { confirm: Spree.t('removing_page_confirmation') } do %>
      <i class="icon-remove"></i>
    <% end %>
  </h3>
</li>